{% load static %}
{% load render_bundle from webpack_loader %}
{% load cart_tags %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% render_bundle 'main' 'css' %}
  <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Django Store</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'profiles:logout' %}">Logout</a></li>
          <li><a href="{% url 'profiles:detail' %}"><span class="visible-xs-inline">Account</span><i class="fa fa-user" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="{% url 'profiles:login' %}"><span class="visible-xs-inline">Account</span><i class="fa fa-user" aria-hidden="true"></i></a></li>
        {% endif %}
        <li>{% cart_counter %}</li>
      </ul>
    </div>
  </div>
</div>

<main class="main-content light-grey">
  {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% block content %}{% endblock %}
</main>

{% render_bundle 'main' 'js' %}
{% block scripts %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105874447-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
