{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a class="product-box" href="{% url "products:detail" object.slug %}">
                        <div class="thumbnail">
                            {% if object.image %}
                                    <img class="img-responsive full-w" src="{% thumbnail object.image 400x400 autocrop %}" alt="{{ object.name }}">
                            {% endif %}
                            <div class="caption">
                                <h2>{{ object.name }}</h2>
                                <p>{{ object.perex|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}