{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <figure>
                    <img class="img-responsive full-width" src="{% thumbnail object.image 400x400 crop %}" alt="">
                </figure>
            </div>
            <div class="col-sm-12 col-md-5 pull-right">
                <hgroup>
                    <h2>{{ object.name }}</h2>
                    <h4>Price: {{ object.price|floatformat }}</h4>
                </hgroup>
                <p>{{ object.content }}</p>
                <form method="post" action="{% url "cart:add" object.pk %}">
                    {% csrf_token %}
                    <div class="product-quantity">
                        {{ form.quantity.errors }}
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg full-width">Add to bag</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}