node_modules
*.pyc
.idea
.project
.coverage
_tmp

media


store/static/bower_components
store/static/css
htmlcov
gulp
gulpfile.coffee

store/settings/production.py
store/static/media
src/staticfiles
/coverage.xml
