node_modules
*.pyc
.idea
.project
.coverage
_tmp

media

simplestore/static/bower_components

htmlcov
db.sqlite3

simplestore/settings/production.py

/coverage.xml
dump.rdb
/node_modules/
/simplestore/static/bundles/dev/
dist
django_simplestore.egg-info