{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <ul class="list-group side-nav">
          <li class="list-group-item"><a href="">Edit details</a></li>
          <li class="list-group-item"><a href="{% url "profiles:orders" %}">Orders</a></li>
          <li class="list-group-item"><a href="">Change password</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-8 pull-right">
        <h2>{{ object.get_full_name }}</h2>
        <p><strong>Email:</strong> {{ object.email }}</p>
        <a class="btn btn-primary" href="{% url 'profiles:update' %}">Edit details</a>
        <a class="btn btn-danger" href="{% url 'profiles:logout' %}">Logout</a>
      </div>
    </div>
  </div>
{% endblock %}