{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-push-4">
        <h2 class="text-center">Create your account</h2>
        <form class="form" action="{{ request.path }}" method="post">
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}