{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for x in 'xxx' %}
            <div class="small-12 medium-4 column">
                <article class="product">
                    <div class="product-img">
                        <img class="image-" src="http://placehold.it/400x400" alt="">
                    </div>
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis cumque dolores minus odit quae quos sequi.</p>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}